<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h4>StudySupportとは？？</h4>
      <p>みんながあなたの勉強をサポートします。</p>
      <%= link_to "StudySupportの詳細へ", about_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  
  <div class="subject">
    <h6><span>科目別で質問する</span></h6>
  </div>

  <div class="container">
    <div class="container discription-container">
      <div class="row">
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>英語</h4>
            <%= image_tag 'textbook_eigo.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>数学(中学)</h4>
        　  <%= image_tag 'textbook_sugaku.jpg', class: 'discription-img' %>
        　　<a class= "img-link" href="http://192.168.56.104:3000/about"></a>
      　  </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>数学(高校)</h4>
        　  <%= image_tag 'textbook_sugaku.jpg', class: 'discription-img' %>
        　　<a class= "img-link" href="http://192.168.56.104:3000/about"></a>
      　  </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>国語</h4>
            <%= image_tag 'textbook_kokugo.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>国語(古典)</h4>
            <%= image_tag 'textbook_kokugo.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>国語(漢文)</h4>
            <%= image_tag 'textbook_kokugo.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>理科</h4>
            <%= image_tag 'textbook_rika.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>理科(化学)</h4>
            <%= image_tag 'textbook_rika.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>理科(物理)</h4>
            <%= image_tag 'textbook_rika.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>社会</h4>
            <%= image_tag 'textbook_syakai.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>社会(日本史)</h4>
            <%= image_tag 'textbook_syakai.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-4">
          <div class="discription-img-container">
            <h4>社会(世界史)</h4>
            <%= image_tag 'textbook_syakai.jpg', class: 'discription-img' %>
            <a class= "img-link" href="http://192.168.56.104:3000/about"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



