<main role="main">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="home-container">
          <h4>StudySupportとは？？</h4>
          <p>みんながあなたの勉強をサポートします。</p>
          <%= link_to "StudySupportの詳細へ", about_path, class: "btn btn-lg btn-primary" %> 
        </div>
      </div>
      <div class="col-6 col-md-2">
        <%= image_tag ("/images/pen_note.png"), size:"100x100", class:"home-img" %>
      </div>
      <div class="col-6 col-md-2">
        <%= image_tag ("/images/student.png"), size:"100x100", class:"home-img" %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <div class="home-index">
    <div class="row">
      <div class="col-md-2">
        <div class="button-wrapper-left">
          <%= link_to "質問する", new_micropost_path, class: "btn btn-outline-info" %>
          <%= form_with url: root_path, method: :get, local: true, class: "search-form" do |form| %>
            <%= select_tag :tag_id,
                              options_from_collection_for_select(Tag.all, :id, :subject, params[:tag_id]),
                              {
                                  prompt: 'すべての科目',
                                  onchange: 'submit(this.form);'
                              }
            %>
          <% end %>  
        </div>
      </div>
      <div class="col-md-8">
        <%= render partial: '/microposts/micropost', collection: @feed, as: "post" %>
        <div class="pagination justify-content-center">
          <%= paginate @feed %>
        </div>
      </div>
      <div class="d-none d-md-block">
        <div class="button-wrapper-right">
          <%= link_to "質問する", new_micropost_path, class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
  </div>
</main>