<% @comments.each do |comment| %>
  <div class= "index-comment border">
    <div class="box">
      <div class="item">
        回答
          <span class="float-right">
            <%= link_to "削除する", micropost_comment_path(@micropost, comment), method: :delete,
            data: { confirm: "回答を削除しますか？", cancel: "キャンセル", commit: "削除する" }, title: "削除の確認", class: 'btn btn-outline-danger btn-sm' %>
          </span>
      </div>
      <div class="sentence">
        <%= simple_format(comment.comment) %>
      </div>
      <div class="picture">
        <% comment.pictures.each do |picture| %>
          <%= image_tag picture.variant(resize_to_limit: [500, 500]).processed %>
        <% end %>      
      </div>
      <div class="timestamp">
        <%= comment.created_at.strftime("%m/%d %H:%M") %>
          <span class="user"><%= comment.user.name %></span> 
      </div>
    </div>
  </div>
<% end %>
  
