<% provide(:title, 'Sign up') %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="title">
        <h5>30秒で新規登録(無料)</h5>
　      <p>すでにStudySupportアカウントがある方は<%= link_to "ログインする", login_path %></p>
      </div>
      <%= form_with(model: @user, url: signup_path, local: true) do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        
        <%= form.label :name, "名前(ニックネーム)" %>
        <%= form.text_field :name, class: 'form-control', placeholder: "ご自分の名前(またはニックネーム)" %>
 
        <%= form.label :email, "メールアドレス" %>
        <%= form.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>

        <%= form.label :password, "パスワード(6文字以上)" %>
        <%= form.password_field :password, class: 'form-control', placeholder: "半角英数字6文字以上" %>
     
        <%= form.label :password_confirmation, "パスワードの確認" %>
        <%= form.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード(再入力)" %>     

        <div class="field">
          <%= form.label :name, "ユーザー画像" %>
          <%= form.file_field :avatar %>
        </div>

        <div class="avatar_field">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, size:"100x100", class:"avatar-circle" %>
          <% else %>
            <%= image_tag ("/images/default.png"), size:"100x100", class:"avatar-circle" %>
          <% end %>
        </div>

        <%= form.submit "登録する", class: "btn btn-info btn-lg form-submit" %>
      <% end %>
    </div>
  </div>
</div>
