<li id="micropost-<%= micropost.id %>">
  <span class="user"><%= micropost.user.name %></span>
  <span class="understanding"><%= micropost.understanding %></span>
  <span class="problem"><%= micropost.problem %></span>
  <span class="picture"><%= micropost.picture %></span>
</li>
