<%= link_to micropost_path(post), class: "no-line" do %>
  <div class="index-micropost border">
    <div class="box">
      <div class="item">
        あなたの考えや答え
      </div>
      <div class="sentence">
        <%= simple_format(post.understanding) %>
      </div>
      <div class="item">
        不安な点や確認したいこと
      </div>
      <div class="sentence">
        <%= simple_format(post.problem) %>
      </div>
      <div class="picture">
        <%= post.picture%>
      </div>
      <div class="timestamp">
        <%= post.created_at.strftime("%m/%d %H:%M") %>
          <span class="user"><%= post.user %></span> 
      </div>
    </div>
  </div>
<% end %>