<% provide(:title, 'Question') %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="title">
        <h5>質問</h5>
      </div>
      <%= form_with(model: @micropost, url: microposts_path, local: true) do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        
        <%= form.label :understanding, "あなたの考えや答え" %>
        <%= form.text_area :understanding, class: 'form-control', placeholder: "どこまで理解できているか・あなたの考え・答えなどを入力してください" %>
        
        <%= form.label :problem, "不安な点や確認したいこと" %>
        <%= form.text_area :problem, class: 'form-control', placeholder: "具体的に分からないこと・不安な点・確認したいことなどを入力してください" %>
        
        <%= form.label :pictures, "添付画像" %>
        <%= form.file_field :pictures, multiple: true, class: 'form-picture' %> 　　
　　　  
        <div class="check-box">
          <p>質問科目　*必ず科目を1つ選択してください</p>
          <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :subject) do |tag| %>
            <div class="cb">
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            </div>   
          <% end %>
        </div>
        <%= form.submit "質問する", class: "btn btn-info btn-lg form-submit" %>
      <% end %>
    </div>
  </div>
</div>
