<div class="row">
  <div class="col-sm-1">
  </div>
    <div class="col-sm-10">
      <div class="text-right">
        <%= link_to "編集する", edit_micropost_path, class: "btn btn-outline-primary" %>
      </div>
      <div class="micropost border">
        <div class="box">
          <div class="item">
            あなたの考えや答え
          </div>
          <div class="sentence">
            <%= simple_format(@micropost.understanding) %>
          </div>
          <div class="item">
            不安な点や確認したいこと
          </div>
          <div class="sentence">
            <%= simple_format(@micropost.problem) %>
          </div>
          <div class="picture">
            <%= @micropost.picture%>
          </div>
          <div class="timestamp">
            <%= @micropost.created_at.strftime("%m/%d %H:%M") %>
              <span class="user"><%= @micropost.user %></span> 
          </div>
        </div>  
      </div>
    </div>
  <div class="col-sm-1">
  </div>
</div>
